# NGINX + LETSENCRYPT
APP_DOMAIN=transmission.CHANGE_ME.COM

# APP
WEBUI_USER=<CHANGE_ME>
WEBUI_PASS=<CHANGE_ME>
TRANSMISSION_WEB_HOME=<CHANGE_ME>
# TRANSMISSION_WEB_HOME in: combustion, kettu, transmission-web-control, flood-for-transmission, shift, transmissionic
